.vscode/settings.json
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/Pokemon-Red-AI.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.vscode/launch.json
.idea/.gitignore
humanDemo.bk2
__pycache__/skipWrapper.cpython-37.pyc
__pycache__/timer.cpython-37.pyc
__pycache__/Discretizer.cpython-37.pyc
__pycache__/ResizableMatrix.cpython-37.pyc
Demo_Batches/gameDemo_0.npz
Demo_Batches/gameDemo_1.npz
Demo_Batches/gameDemo_2.npz
Demo_Batches/gameDemo_3.npz
Demo_Batches/gameDemo_4.npz
Demo_Batches/gameDemo_5.npz
Demo_Batches/gameDemo_6.npz
